<h1><%= @user.full_name %></h1>\n<p><strong>Email:</strong> <%= @user.email %></p>\n<p><strong>First Name:</strong> <%= @user.first_name %></p>\n<p><strong>Last Name:</strong> <%= @user.last_name %></p>
