<h1>Editing article controller</h1>

<%= render "form", article_controller: @article_controller %>

<br>

<div>
  <%= link_to "Show this article controller", @article_controller %> |
  <%= link_to "Back to article controllers", article_controllers_path %>
</div>
